extends ./scaffold

mixin header
  header.app-header
    .links
      a( href= "/#browse" data-section-name='browse' ) Browse Shows & Fairs
      a( href= "/#explore" data-section-name='explore' ) Explore 60,000 Artworks
      a( href= "/#collect" data-section-name='collect' ) Collect With Artsy
    a.header-logo( href= sd.ARTSY_URL )
    a.app-store( href= sd.IPHONE_APP_URL )

mixin hero
  .hero
    .content.text-container
      h1 The art world in your pocket
      h2 Introducing Artsy for iPhone
        sup &copy;
      #sms.sms
        .heading send a link to your phone
        .error
        .success
        input.phone_number.bordered-input( placeholder = "Enter your phone number" )
        button.avant-garde-box-button.avant-garde-box-button-grey( type = "submit" ) OK
        .share share on
          .facebook-icon facebook
          .twitter-icon twitter
     .apple-copy Apple, the Apple logo and the iPhone are trademarks of Apple Inc. registered in the U.S. and other countries. App Store is a service mark of Apple Inc.

mixin iphone
  #iphone
    .phone
    .reflection
    .iphone-content
      .phone-content-area.splash-images
        .splash-image.splash-image-1.active
        .splash-image.splash-image-2
        .splash-image.splash-image-3
        .splash-image.splash-image-4
        .splash-image.splash-image-5
        .splash-image.splash-image-6
        .splash-image.splash-image-7
        .splash-image.splash-image-8
        .splash-image.splash-image-9
        .splash-image.splash-image-10
      .phone-content-area.browse-content-area
        .content-padder
          video.splash-image.browse-placeholder( data-autoresize="fit" preload="none" loop="true" )
            source( src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" )
            source( src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" )
            source( src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" )
            source( src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" )
      .phone-content-area.explore-content-area
        .content-padder
          .splash-image.explore-placeholder
      .phone-content-area.collect-content-area
        .content-padder
          .splash-image.collect-placeholder

block body
  mixin hero
  mixin header
  mixin iphone
  #content
    block content
  #arrow
