extends ./scaffold

mixin header
  header.app-header.black
    .links
      a( href= "/#browse" ) Browse Shows & Fairs
      a( href= "/#explore" ) Explore 60,000 Artworks
      a( href= "/#collect" ) Collect With Artsy
    .header-logo
    a.app-store( href= sd.IPHONE_APP_URL )

mixin hero
  .hero
    .content
      h1 The art world in your pocket
      h2 Introducing Artsy for iPhone
      .sms
        .heading send a link to your phone
        input.bordered-input( placeholder= "Enter your phone number" )
        button.avant-garde-box-button.avant-garde-box-button-grey( type= "submit" ) OK

mixin iphone
  #iphone
    .phone
    .reflection
    .content

block body
  mixin hero
  mixin header
  mixin iphone
  #content
    block content
  #arrow
