extends ./scaffold

mixin header
  mixin large-header
  header
    .header-logo
    .links
      a( href= "/#browse" ) Browse Shows & Fairs
      a( href= "/#explore" ) Explore 60,000 Artworks
      a( href= "/#collect" ) Collect With Artsy
    .app_store

mixin large-header
  .large-header
    .large-img
    h1 The artwork in your pocket
    h2 Introducing Artsy for iPhone
    .sms
      .heading send a link to your phone
      input.bordered-input( placeholder= "Enter your phone number" )
      button.avant-garde-box-button.avant-garde-box-button-grey( type= "submit" ) OK

block body
  #content
    mixin header
    block content
    mixin header
