extends ./scaffold

mixin header
  header.app-header
    .links
      a( href= "/#explore" data-section-name='explore' ) Explore #{sd.WORKS_NUM} Artworks
      a( href= "/#browse" data-section-name='browse' ) Browse Shows & Fairs
      a( href= "/#collect" data-section-name='collect' ) Collect With Artsy
    a.header-logo( href= sd.HOME_URL )
    a.app-store( href= sd.IPHONE_APP_URL )

mixin hero
  .hero
    .arrow-container
      .arrow
    .apple-copy Apple, the Apple logo and the iPhone are trademarks of Apple Inc. registered in the U.S. and other countries. App Store is a service mark of Apple Inc.
    a.source-link( href= sd.SOURCE_URL ) source
    .content.text-container
      h1 The art world in your pocket
      h2 Introducing Artsy for iPhone
      #sms.sms
        .heading send a link to your phone
        .error
        input.phone_number.bordered-input( placeholder = "Enter your phone number" )
        button.avant-garde-box-button.avant-garde-box-button-grey( type = "submit" ) SEND
        .success
        .share share on
          .facebook-icon
          .twitter-icon

mixin iphone
  #iphone
    .phone
    .black-background
    .iphone-content
      .phone-content-area.splash-images
        img.splash-image.splash-image-1.active( src=(sd.ASSET_PATH + "01intro.jpg" ) )
        img.splash-image.splash-image-2( src=(sd.ASSET_PATH + "02intro.jpg" ) )
        img.splash-image.splash-image-3( src=(sd.ASSET_PATH + "03intro.jpg" ) )
        img.splash-image.splash-image-4( src=(sd.ASSET_PATH + "04intro.jpg" ) )
        img.splash-image.splash-image-5( src=(sd.ASSET_PATH + "05intro.jpg" ) )
        img.splash-image.splash-image-6( src=(sd.ASSET_PATH + "06intro.jpg" ) )
        img.splash-image.splash-image-7( src=(sd.ASSET_PATH + "07intro.jpg" ) )
        img.splash-image.splash-image-8( src=(sd.ASSET_PATH + "08intro.jpg" ) )
      .phone-content-area.browse-content-area
        .content-padder
          .black-background.browse-black-background
          video.splash-image.browse-placeholder( preload="auto" muted="true" loop="true" width=320 height=570 poster=(sd.ASSET_PATH + "browse-placeholder.jpg" ) )
            source( src=(sd.ASSET_PATH + "browse.mp4" ) )
            source( src=(sd.ASSET_PATH + "browse.webm" ) )
          img.splash-image.browse-placeholder( src=(sd.ASSET_PATH + "browse-fallback.jpg" ) )
      .phone-content-area.explore-content-area
        .content-padder
          .black-background.explore-black-background
          video.splash-image.explore-placeholder( preload="auto" muted="true" loop="true" width=320 height=570 poster=(sd.ASSET_PATH + "explore-placeholder.jpg" ) )
            source( src=(sd.ASSET_PATH + "explore.mp4" ) )
            source( src=(sd.ASSET_PATH + "explore.webm" ) )
          img.splash-image.explore-placeholder( src=(sd.ASSET_PATH + "explore-fallback.jpg" ) )
      .phone-content-area.collect-content-area
        .content-padder
          .black-background.browse-black-background
          video.splash-image.collect-placeholder( preload="auto" muted="true" loop="true" width=320 height=570 poster=(sd.ASSET_PATH + "collect-placeholder.jpg" ) )
            source( src=(sd.ASSET_PATH + "collect.mp4" ) )
            source( src=(sd.ASSET_PATH + "collect.webm" ) )
          img.splash-image.collect-placeholder( src=(sd.ASSET_PATH + "collect-fallback.jpg" ) )

block body
  mixin hero
  mixin header
  mixin iphone
  #content
    block content
  .bottom-anchor