extends ./scaffold

mixin login-signup
  .login-signup
    .login-signup-button-container
      a.avant-garde-box-button.avant-garde-box-button-gray( href='/sign_up' ) Sign up
    .login-signup-button-container
      a.avant-garde-box-button.avant-garde-box-button-gray( href='/log_in' ) Log in

block body
  #content
    mixin login-signup
    header#main-header
      a#main-header-logo( href= '/' )
        #main-header-logo-icon
      form#main-header-search-form( action='/search', method='GET' )
        input#main-header-search-box(
          placeholder='Search',
          name='term',
          value=mainHeaderSearchBoxValue,
          type='search'
        )
        button#main-header-search-button.avant-garde-box-button Search
        if mainHeaderSearchBoxValue 
          #main-header-search-box-cancel ×
    block content
    mixin login-signup