#error-handler
  margin 0
  padding 20px
  font-family Helvetica, sans-serif
  h1
    margin 20px 0
    line-height 1.2em
    font-size 22px
    font-weight bold
  pre
    padding 10px
    border 1px solid #ccc
    overflow scroll
    font-family courier
    font-size 12px
    line-height 1.4em