doctype html
html
  head
    title Artsy - Discover Fine Art
    meta( name='viewport', content='width=device-width', initial-scale='1.0,user-scalable=no' )
    link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'all' + sd.CSS_EXT) )
  body#error-handler
    h1 Whoops looks like there was an error!
    pre= error