//
// A library of mixins and variables commonly used throughout stylesheets.
//
// Do NOT put any actual style declarations here. We don't want this to impact
// CSS size.
//

@import '../../node_modules/nib'

default-font-size = 16px
avant-garde-font-size = 14px
large-font-size = 22px
light-gray-border-color = #4B4B4B
highlight-color = #6a0bc1
bad-red-color = #ff3f3f
dark-gray-text-color = #555

handheld-break-width = 480px
tablet-break-width = 768px

tablet = "only screen and (device-width: " + tablet-break-width + ")"
handheld = "only screen and (max-device-width: " + handheld-break-width + ")"

mask-repeat()
  vendor('mask-repeat', arguments)

mask-size()
  vendor('mask-size', arguments)

mask-image()
  vendor('mask-image', arguments)

avant-garde()
  font-family 'ITC Avant Garde Gothic W04', 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif'
  font-smoothing antialiased
  text-transform uppercase
  letter-spacing 1px

serif()
  font-family 'Adobe Garamond W08', 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'
  font-smoothing antialiased

serif()
  font-family 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'
  font-smoothing antialiased

faux-underline(spacing=5px)
  display inline-block
  position relative
  &::after
    content ''
    position absolute
    left 0
    display inline-block
    height 1em
    width 100%
    border-bottom 1px solid
    margin-top spacing
  &:hover
    text-decoration none

ellipsis()
  text-overflow ellipsis
  white-space nowrap
  overflow hidden