for show in shows
  li.home-page-current-show
    header
      h2
        = show.get('partner').name
        br
        = show.feedHeader()
      h3
        = show.formattedDateRange()
        if show.feedSubheaderAppend()
          | , 
          = show.feedSubheaderAppend()
    .home-page-current-shows-artworks
      != artworkColumnsTemplate({ artworks: show.artworks().models })