extends ../../../components/layout/templates/main

block content
  .main-side-margin
    h1.home-page-featured-header.avant-garde-header-center Featured Posts
    include ../../../components/featured_items/template