extends ../../../components/layout/templates/main

block content
  section#browse
    .left
      .heading See the most important shows & fairs
      p Shows from over 600 leading galleries and museums, including Gugenheim musuem, The New Museum, Gagosian Gallery & Pace Gallery
    .center
      .image_placeholder
      .video
    .right
  section#explore
    .left
    .center
      .image_placeholder
      .video
    .right
      .heading 60,000 works &#8211; connected by the Art Genome Project
      p Shows from over 600 leading galleries and museums, including Gugenheim musuem, The New Museum, Gagosian Gallery & Pace Gallery
  section#collect
    .left
      .heading Collect with Artsy's iPhone app
      p Purchase works straight from the app and connect with galleries from around the world
    .center
      .image_placeholder
      .video
    .right
