extends ../../../components/layout/templates/main

block content
  section#explore
    .left-text.text-container.column
      .heading 60,000 works &#8211; connected by The Art Genome Project
      p The world's largest database of contemporary and historical art, with for sale and reference works by Andy Warhol, Claude Monet, Marina Abramovic, Jeff Koons, Cindy Sherman, and 10,000 more artists.
    .phone-content-area.column
  section#browse
    .phone-content-area.column
    .right-text.text-container.column
      .heading Leading shows & art fairs from around the world
      p Comprehensive coverage of over 600 galleries, museums, and international art fairs &#8211; including the Guggenheim, SFMOMA, The British Museum, Gagosian Gallery, Pace Gallery, White Cube, Frieze, Art Basel, and The Armory Show.
  section#collect
    .left-text.text-container.column
      .heading Collect with Artsy
      p Connect with galleries from around the world and purchase select works straight from the app. Artsy's team of specialists can help, whether you're an experienced collector or just starting out.
    .phone-content-area.column
