extends ../../../components/layout/templates/main

block content
  section#browse
    .left-text.text-container
      .heading See the most important shows & fairs
      p Shows from over 600 leading galleries and museums, including Gugenheim musuem, The New Museum, Gagosian Gallery & Pace Gallery
    .phone-content-area
      .image-placeholder
      .video
      .bottom-white-bar
    .right-text
  section#explore
    .left-text.text-container
    .phone-content-area
      .top-white-bar
      .image-placeholder
      .video
      .bottom-white-bar
    .right-text.text-container
      .heading 60,000 works &#8211; connected by the Art Genome Project
      p Shows from over 600 leading galleries and museums, including Gugenheim musuem, The New Museum, Gagosian Gallery & Pace Gallery
  section#collect
    .left-text.text-container
      .heading Collect with Artsy's iPhone app
      p Purchase works straight from the app and connect with galleries from around the world
    .phone-content-area
      .top-white-bar
      .image-placeholder
      .video
    .right-text.text-container
