extends ../../../components/layout/templates/main

block content
  section#browse
    .left-text.text-container.column
      .heading See the most important shows & fairs
      p The newest shows from over 600 galleries and museums &#8211; including the Guggenheim, SFMOMA, the British Museum, Gagosian Gallery, Pace Gallery, White Cube &#8211; and leading international art fairs like Frieze, Art Basel, and The Armory Show    
    .phone-content-area.column
  section#explore
    .phone-content-area.column
    .right-text.text-container.column
      .heading 60,000 works &#8211; connected by the Art Genome Project
      p The world's largest database of contemporary and historical art, with works by Andy Warhol, Claude Monet, Marina Abramovic, Jeff Koons, Cindy Sherman, and 10,000 more artists
  section#collect
    .left-text.text-container.column
      .heading Collect with Artsy
      p Purchase works straight from the app and connect with galleries from around the world
    .phone-content-area.column
