
#content
  position: relative
  // bar that hides the next section - z-indexed above media but below phone
  .white-bars-container
    display: none
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    overflow: hidden
    z-index: 9

  .white-bar
    background: white
    width: 100%
    margin: 0px auto
    position: absolute
    height: 100px
    left: 0px

  .top-white-bar
    top: 0px

  .bottom-white-bar
    top: 0px

section
  background: white
  position: relative
  min-height: 1000px
  overflow: hidden

  .text-container
    min-width: 350px
    width: 30%
    z-index: 6
    display: inline-block
    vertical-align: top

  .heading, p
    padding-left: 60px
    padding-right: 60px

  .heading
    font-size: 47px
    line-height: 102%
    margin-bottom: 25px
    min-width: 350px
  p
    font-size: 17px
    line-height: 143%
    color: #333
    width: 350px

  .phone-content-area.column
    position: static
    display: inline-block
    vertical-align: top

  .image-container
    width: 100%
    height: 100%
    position: relative

  .image-placeholder
    background-size: auto 100%
    width: 100%
    height: 100%

  .image-placeholder
    background-size contain
    background-repeat no-repeat
    background-position center center
    background-size: auto 100%
    width: 100%
    height: 100%
    transition: opacity 0.4s
    position: absolute
    top: 0px
    z-index: 5

  &#browse .phone-content-area .image-placeholder
    background-image url('/images/video/1.jpg') !important

  &#explore .phone-content-area .image-placeholder
    background-image url('/images/video/2.jpg') !important

  &#collect .phone-content-area .image-placeholder
    background-image url('/images/video/3.jpg') !important
