
#content
  position: relative

section
  background: white
  position: relative
  min-height: 1000px
  overflow: hidden

  .text-container
    min-width: 350px
    width: 30%
    z-index: 6
    display: inline-block
    vertical-align: top

  .heading, p
    padding-left: 60px
    padding-right: 60px

  .heading
    font-size: 47px
    line-height: 102%
    margin-bottom: 25px
    min-width: 350px
  p
    font-size: 17px
    line-height: 143%
    color: #333
    width: 350px

  .phone-content-area.column
    position: static
    display: inline-block
    vertical-align: top
