// 
// Button styles used project-wide
// 

@import '../../stylus_lib'

.circle-border-icon-button
  border 2px solid light-gray-border-color
  width 50px
  height @width
  border-radius @width
  background transparent

// Chevron button, usually avant garde text with a > after it e.g. ANDY WARHOL >
chevron-pseudo-el()
  background black
  mask-size contain
  mask-repeat no-repeat
  height 26px
  width @height
  background-size contain
  display inline-block
  content '.'
  color transparent
  margin-top -2px
  position absolute

.chevron-arrow-button
  background transparent
  padding 0
  height 26px
  display inline-block
  border none
  margin 0
  text-decoration none
  display block
  &::after
    chevron-pseudo-el()
    margin-left 10px

.chevron-arrow-button-gray::after
  background light-gray-border-color
  width 20px
  height @width
  margin-top 1px
  
.chevron-arrow-button-left
  &::before
    chevron-pseudo-el()
    transform rotate(180deg)
    position relative
    top -2px
    left -12px
  &::after
    display none
    
.chevron-nav-list a
  text-decoration none
  position relative
  display block
  padding 14px 0
  border-top 1px solid light-gray-border-color
  avant-garde()
  font-size avant-garde-font-size
  &:last-child
    border-bottom @border-top
  &::after
    chevron-pseudo-el()
    background light-gray-border-color
    right -9px
    position absolute
      
// Avant Garde rectangular buttons
.avant-garde-box-button
  avant-garde()
  font-size avant-garde-font-size
  padding 12px
  border 1px solid light-gray-border-color
  background transparent
  width 100%
  margin 0
  text-decoration none
  text-align center
  display block
  position relative
  &:focus, &:active
    background-color highlight-color
    border-color @background-color
    color white
    outline none
  .loading-spinner
    background white
    margin 0
    position absolute
    top 15px
    left 50%
    margin-left -12px
    display none

.avant-garde-box-button-black
.avant-garde-box-button-gray
  color white
  
.avant-garde-box-button-black
  background black
  border @background
  
.avant-garde-box-button-gray
  background #333
  border @background

.avant-garde-underline-button
  avant-garde()
  font-size avant-garde-font-size
  text-align center
  background transparent
  display table
  margin 0 auto
  padding 0
  border 0
  border-bottom 2px solid black
  text-decoration none
  
.avant-garde-box-button-loading
  color transparent !important
  &.avant-garde-box-button-black
    .loading-spinner
      background white
  .loading-spinner
    display block