@import '../../stylus_lib'

.app-header
  position: fixed
  transition: top 0.8s
  top: -64px
  left: 0px
  width: 100%
  z-index: 20
  overflow: hidden
  height: 64px
  &.visible
    top: 0px

  .links a
    color: white
    border-color: white

  .app-store
    background-size contain
    background-repeat no-repeat
    background-position center center
    height: 50px
    background-image url('/images/app-store.svg') !important
    width: 133px
    float: right
    right: 16px
    margin-top: -6px

  .app-store, .header-logo
    top: 16px
    position: absolute

  .header-logo
    background-image url('/images/artsy-logotype-white.svg') !important
    background-size contain
    background-repeat no-repeat
    background-position center center
    height: 40px
    width: 40px
    float: left
    left: 16px

  .links
    text-align: center
    @media media-query
      display: none
    a
      avant-garde()
      text-decoration: none
      margin: 16px 19px
      padding: 9px 20px
      display: inline-block
      border-top: 4px solid white
      font-size: 13px
      transition: color 0.4s, border-color 0.4s
      &:first-child
        margin-left: 0px
      &:last-child
        margin-right: 0px
      &:hover, &.active
        color: highlight-color !important
        border-color: highlight-color !important

  &.white
    .links a
      color: black
      border-color: black
    .header-logo
      background-image url('/images/artsy-logotype-black.svg') !important
