// 
// Header styles used project-wide
// 

@import '../../stylus_lib'

.avant-garde-header
  avant-garde()
  font-size avant-garde-font-size
  
.avant-garde-header-center
  @extend .avant-garde-header
  width 100%
  text-align center
  
.h2-margin
  margin 20px 0