@import '../../stylus_lib'

@keyframes slide
 0%
   background-position-y: 40px
 33%
   background-position-y: 159px
 66%
   background-position-y: 159px
 100%
   background-position-y: 159px

.hero
  background: black
  color: white
  position: fixed
  width: 100%
  height: 100%
  z-index: 1
  top: 0px

  h1, h2, .heading
    width: 300px

  h1
    font-size: 47px
    line-height: 102%

  h2
    font-size: 24px
    margin-top: 19px
    margin-bottom: 50px

  .heading
    avant-garde()
    font-size: 14px
    margin-bottom: 9px

  .content
    width: 350px
    position: absolute
    right: 0px
    top: 0px
    opacity(0)
    z-index: 8
    transition(opacity, 0.4s)
    &.visible
      opacity(1)
    @media media-query
      display: none

  .bordered-input
    width: 229px

  .apple-copy
    text-align: center
    font-size: 12px
    width: 100%
    position: absolute
    bottom: 5px
    color: #AAA
    padding: 0px 20px
    margin: 0px auto
    box-sizing: border-box

  .arrow
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, transparent 33%, rgba(0,0,0,0.8) 66%, rgba(0,0,0,0.8) 100%)
    width: 40px
    height: 80px
    cursor: pointer
    background-position-y: 40px
    background-size: 100% 150%
    animation: slide 2.8s linear infinite

  .arrow-container
    position: absolute
    bottom: 5.5%
    left: 50%
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    background-image: url('/images/down_arrow.png') !important
    width: 40px
    height: 40px
    z-index: 15
    cursor: pointer
    margin-left: -20px
    opacity(0)
    transition(opacity, 0.4s)
    &.active
      opacity(1)
      &:hover
        opacity(0.7)



  .share
    avant-garde()
    margin-top: 36px
    font-size: 14px

    .facebook-icon, .twitter-icon
      background-size contain
      background-repeat no-repeat
      background-position left center
      height: 20px
      width: 20px
      display: inline-block
      margin-left: 16px
      padding-left: 30px
      width: 0px
      cursor: pointer
      transition: opacity 0.4s
      opacity(1)
      vertical-align: top
      &:hover
        opacity(0.7)

    .facebook-icon
      background-image url('/images/icon_facebook_white.png') !important

    .twitter-icon
      background-image url('/images/icon_twitter_white.png') !important
      margin-left: 12px
