//
// Common styles used for initial page rendering throughout the project.
//
// Be VERY picky about what is allowed to be put in this file because any style
// that isn't used throughout most pages will unecessarily slow down initial page load.
//
// Examples of styles that belong here are global default styles or CSS reset-like styles
// such as `box-sizing: border-box` on all elements, or removing outlines on all inputs,
// ensuring links aren't purple or blue by default, etc. Things that are more stylistic
// even if they seem to apply to all elements, such as buttons being flat with avant garde,
// should not go here and instead applied as classes in a componenents stylesheet. It's
// much easier to add a class to an unstyled default element than it is to untangle too
// many default CSS styles.
//

@import '../../stylus_lib'
@import './headers'
@import './buttons'
@import './inputs'
@import './hero'
@import './iphone'

global-reset()

// General tag styles
body
  serif()
  font-size default-font-size
  line-height 1.4em
  text-rendering optimizeLegibility
  background: black

a
  color black
b, strong
  font-weight bold
em
  font-style italic
input
  serif()
  font-size default-font-size
  &:focus
    outline none
sup
  font-size: 13px
  vertical-align: top
  margin-top: -7px
  display: inline-block
  margin-left: 2px

// List any data-uri embedded assets needed for initial page load here so they
// are only embedded once.
font-face('AvantGardeGothicITCW01D 731075', 'c18aee57-7585-4a8b-9a1c-69d226301d73')

// Square logo
.header-logo
  background-size contain
  background-repeat no-repeat
  background-position center center
  height: 40px
  width: 40px
  float: left

#arrow
  position: fixed
  bottom: 36px
  left: 50%
  background: #000
  border: 3px #FFF solid
  -webkit-border-radius: 20px
  border-radius: 16px
  width: 30px
  height: 30px
  z-index: 15
  opacity(0)
  transition(opacity, 0.4s)
  &.visible
    opacity(1)
    &:hover
      border-color: highlight-color

.phone-content-area
  position: absolute
  width: 100%
  overflow: hidden

#content
  margin-top: 1000px
  margin-bottom: 1000px
  position: relative
  z-index: 10
