@import '../../stylus_lib'

.bordered-input
  -webkit-appearance: none
  border 2px solid light-gray-border-color
  border-radius 0
  box-shadow none
  padding 10px
  width 100%
  font-size default-font-size
  serif()
  font-size default-font-size
  margin 0
  display block
  &:focus, &:active
    border-color highlight-color
    outline none