// 
// Styles for the sign up / log in buttons at the top and bottom of almost every page.
// 

.login-signup
  width 100%
  background black

.login-signup-button-container
  padding 20px 10px 20px 20px
  width 50%
  display inline-block
  &:last-child
    padding 20px 20px 20px 10px
  a
    width 100%
    display block